.block-table {
  @extend .default-grid;

  .layout-content {
    margin-left: auto;
	  margin-right: auto;
  }

	h3 {
		@include title-text();
	}

	.table-content {
		@include span(8 no-gutters);
		@media #{$bp-tab} {
			@include span(12);
		}

		p {
			
			&:first-of-type {
				font-weight: bold;
				font-family: $font-family-accent;
				font-size: $font-size-large;
			}
		}	

		ul {
			margin:0 0 0 30px;
			padding:0 0 0 20px;
			list-style:disc outside;

			li {
				font-style:italic;	
				@include default-font;
			    line-height: 30px;		
			}
		}
		h6{
			@include subtitle-text(14px);
		}
	}
}

.table-links {
	@include span(3 last);
	@media #{$bp-desk} {
	}
	@media #{$bp-tab} {
		@include span(12);
	}

	div {
		@extend .clearfix;
		border-bottom: 1px solid $light-grey;
		padding:0 50px 40px 0;
		margin:0 0 15px 0;
	}

	span {
		display: block;
		line-height: 1.5em;
		vertical-align: right;
	}

	.link-title{
		margin-bottom: $bottom-margin / 2;
		@include title-text(20px);
	}

	.link-wrap {

		a{
			padding:0px;
			text-decoration:none;
			margin-bottom: $bottom-margin / 2;
			@include subtitle-text(14px);
		    font-weight: 400;
		}
	}

}
.table-links > div:last-child{
	border-bottom:none;
}
