.sticky{
	position:fixed;
	top:0;
}

.block-joinery{
	margin-bottom:0 !important;
	position:relative;
	height:0px;
	.bg-cloud-two{
		z-index:10;
		width:50%;
		position:relative;
		top:-40px;
		&.sticky{
			position:fixed;
			top:20px;
		}
		.wordmark{
			&#w2{
				svg,path{
					fill:#A0DCF0 !important;
				}
			}
		}
		div{
			.hero-text{
//				float:right;
				width:100%;
				margin-top:-35px;
				margin-left:500px;
				color:white;
				font-size:28px;
			}
			#hero-tag{
				display:none;
			}
		}
	}
	.bg-cloud{
		z-index:7;
		height:60px;
		padding:20px;
		background-color: rgba(60,60,60,0.5);
		div{
			.hero-text{
				float:right;
				width:50%;
				font-size:36px;
			}
		}
		width:100%;
		transition: background-color .4s ease-in-out;
		-moz-transition: background-color .4s ease-in-out;
		-webkit-transition: background-color .4s ease-in-out;
		&.trans{
			background-color: rgba(230,230,230,0);
		}
	}
	.layout-content{
		height:100%;
		padding-top:0;
		text-align:center;
		background-image: url("../../includes/modules/joinery/img/bg.jpg");
		background-size:200%;
		background-position: -400px -250px;
	    @media #{$bp-tab} {
			//background-size:400%;
			//background-position: -50% 0;

		}
		.jlogo-wrapper{
			display:inline-block;
			width:100%;
			text-align:left;
			margin-left:160px;

		    @media #{$bp-tab} {
				.letter:nth-child(n+13){
			      display:none !important;
				}
		    }

			.letter{
				height:20px;
			}
			img{
				fill:white;
			}
			.wordmark-wrapper{
				display:inline-block;
				width:auto;
				margin: 0 auto;
				.wordmark{
					margin-left:-20px;
					opacity:0;
				}
				.letter{
					&#l2{
						margin-left:-4px;
					}
					&#l3{
						margin-left:-9px;
					}
					&#l5{
						margin-left:-5px;
					}
					&#l6{
						margin-left:-18px;
					}
				}
			}
			.wordmark{
				display:inline-block;
				height:20px;
				svg{
					height:20px;
					width:auto;
					fill:white !important;
				}
				&#w5{
					margin-left:-8px;
				}
			}
			&.actives{
				background-color:#002B43;
				-webkit-transition: background-color 500ms linear;
				-moz-transition: background-color 500ms linear;
				-o-transition: background-color 500ms linear;
				-ms-transition: background-color 500ms linear;
				transition: background-color 500ms linear;
				.wordmark{
					svg{
						g path{
							fill:white !important;
						}
					}
				}
			}
		}
	}

}
.home{
	.block-joinery{
		height:90vh;
		.layout-content{
			padding-top:110px;
		}
	}
}
	.mobile-wordmark-wrapper{
		display:none;
	}

@media #{$bp-tab} {
	.bg-cloud-two{
		width:100% !important;
	}
	img.letter, .wordmark{
		display:none !important;
	}
	.mobile-wordmark-wrapper{
		display:inline-block;
	}
}
body.stuck{
	.site-content{
		margin-top:75px;
	}
}