.block-generic_content:nth-child(1) {
//	background-color:#4DA5C2;
	background-color:#c0c0c0;
	color:$c-white;
//	min-height:30vh;
}

.block-generic_content {

  .layout-content {

  }

	.gc-wrap {
		h3{
			width:100%;
			text-align:center;
			padding-top:30px;			
			@include title-text();

		}
	}
	
	.gc-content{
		margin:0px;
		padding:0px;
			
		p{
			@include default-font;

			strong{
				@include subtitle-text;
			}
		}

		ul{
			margin:0 0 0 30px;
			padding:0 0 0 20px;
			list-style:disc outside;

			li{
				margin:0px;
				padding:0 0 0 20px;
				font-size:16px;
				color:#000;
				line-height:28px;
				font-style:italic;			
			}
		}
	}
}
