/*
This file contains mixins and classes to be used
with @include and @extend.  Add any new mixins here.
*/

/*
Default grid should be the outer container for any susy grid
It is included as a class so it may be extended using @extend.
Change the padding here to change default outer grid padding.
Extend .default-grid on either the site container, or around
Individual components as necessary.
*/

@mixin default-grid($padding: 20px) {
  @include container();
  margin-left: auto;
  margin-right: auto;

  @media #{$bp-desk-lg} {
    padding-left: $padding;
    padding-right: $padding;
  }
}
.default-grid {
  @include default-grid();
}

@mixin padding-top() {
  padding-top: $top-padding !important;
}
.padding-top {
  @include padding-top();
}

@mixin padding-bottom() {
  padding-bottom: $bottom-padding !important;
}
.padding-bottom {
  @include padding-bottom();
}

@mixin margin-top() {
  padding-top: $top-margin !important;
}
.margin-top {
  @include margin-top();
}

@mixin margin-bottom() {
  padding-top: $bottom-margin !important;
}
.margin-bottom {
  @include margin-bottom();
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin grow() {
  -webkit-transition: -webkit-transform .3s linear;
        transition: transform .3s linear;

  &:hover {
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-transition: -webkit-transform .15s linear;
              transition: transform .15s linear;
  }
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// Wordpress Specific
$wp-center: 5px auto 5px auto;
$wp-left:   5px 90px 70px 0;
$wp-right:  5px 0 70px 90px;

.aligncenter {
  display: block;
  margin: $wp-center;
}

.alignleft {
  float: left;
  margin: $wp-left;
}

.alignnone {
  margin: $wp-left;
}

.alignright {
  float: right;
  margin: $wp-right;
}

a {
  img {
      &.aligncenter {
        @extend .aligncenter;
      }

      &.alignleft {
        @extend .alignleft;
      }

      &.alignnone {
        @extend .alignnone;
      }

      &.alignright {
        @extend .alignright;
      }
  }
}

// Typography Mixins

@mixin default-font($font-size: $font-size-base, $line-height: 24px, $color: $c-black){  
  font-family: $font-family-base;
  font-size: $font-size;
  text-decoration: none;
  font-weight: 400;
  line-height:$line-height;
}
.default-font {
  @include default-font();
}

@mixin default-font-bold() {
  font-weight: 700;
}

@mixin title-text($font-size: $title-font-size, $line-height: 1.2em, $color: $c-black) {
  font-family: $font-family-base;
  font-size: $font-size;
  text-decoration: none;
  font-weight: 400;
  line-height: $line-height;
  color: $color;
}
.title-text {
  @include title-text()
}

@mixin subtitle-text($font-size: $font-size-large, $line-height: 1.2em, $color: $c-black) {
  font-family: $font-family-accent;
  font-size: $font-size;
  color: $color;
  line-height: $line-height;
  font-weight: bold;
}
.subtitle-text {
  @include subtitle-text();
}

// Buttons

@mixin button($padding: 5px 10px,$borderColor: $c-black, $textColor:$c-black, $accentColor: $c-white) {
  padding: $padding;
  border: 2px solid $borderColor;
  color: $textColor;
  text-decoration: none;
  font-family: $font-family-accent;
  transition: all 250ms ease;
  display: inline-block;
  font-weight: bold;

  &:hover {
    background: $borderColor;
    color: $accentColor;
  }
}
.pilot-button {
  @include button();
}