
// Colors

$c-white: #fff;
$c-black: #000;
$accent: #03a9f4;
$body-grey: #eee; 
$light-grey: #e6e6e6;
$medium-grey: #ccc;
$dark-grey: #8a8a8a;

// Layout

$block-padding: 2rem;
$top-margin: $block-padding;
$top-padding: $block-padding;
$bottom-margin: $block-padding;
$bottom-padding: $block-padding;

$block-padding-half: $block-padding / 2;

// Typography

$font-family-base:'Open Sans Condensed';
$font-family-accent: Arial, sans-serif;
$font-size-small  : 14px;
$font-size-base   : 16px;
$font-size-large  : 20px;
$title-font-size  : 40px;

// Media Queries

$bp-mobile:	"only screen and (max-width: 480px)";
$bp-tab-sm: "only screen and (max-width: 600px)";
$bp-tab:	"only screen and (max-width: 768px)";
$bp-desk:	"only screen and (max-width: 992px)";
$bp-desk-lg: "only screen and (max-width: 1200px)";

// Susy Settings (add as needed in base)

$gutter-position: after;
$container: 1200px;
$columns: 12;
$gutters: 1;
$box-sizing: border-box;