
// Libraries

// Optional: @import "../../bower_components/compass-mixins/lib/compass";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/animate.scss/scss/animate";
@import "../../bower_components/wow/css/libs/animate";


// Theme Configuration

@import "variables";
@import "base";
@import "type";
@import "mixins";
@import "layout";

// views

@import "views/navigation";
@import "views/header";
@import "views/footer";

// Pages

@import "pages/home";

// Modules

@import "../../includes/modules/modules";

// Global Rules
html{
	overflow-y:scroll;
}
body{
	background:$c-white;
	margin:0px;
	padding:0px;
	font-family: 'Open Sans Condensed', sans-serif;
	
}

strong {
	@include default-font-bold();
}

.container{
	@include container($container);
	overflow: hidden;
}

