#masthead{
	&.sticky{
		position:fixed;
		top:0;
		z-index:9;
	}
}
.site-header{
	margin:0px;
	padding:0px;
	width:100%;
//	display:inline-block;
	background-color:$c-black;
	.top_section{
		height:100%;

		margin:0 auto;
		padding:0px;
		width:96%;
		position:relative;
		@media #{$bp-tab}{
			padding:0 10px;
		}
	}
	.site-branding{
		margin:0px;
		padding:20px 0;
		@include span(4);
		@media #{$bp-tab}{
			padding:25px 0px;
		}
		h1{
			@include subtitle-text();
			color: #b8b8b8;
			margin: 0;
		}		
	}
	.main-navigation{
		ul{
			li{
				a{
					font-size:18px;
					color:white;//#e0e0e0;
				}
				a:hover, a:active, a:focus{
					color: #A0DCF0;
				}
			}
		}
	}
}