.block-three_column {
	background-color:#f0f0f0;
	.three-col-wrap {
		.header-wrap{
			text-align:center;
			width:100%;
			color:#808080;
			h2{
				margin-top:120px;
				margin-bottom:5px;
				text-align:center;
				text-transform:uppercase;
			}
			label{
				margin-top:-10px;
				font-size:24px;
				font-family: 'Roboto Condensed', sans-serif;
				color:#A0DCF0;
				font-weight:800bold;
			}
		}
		.column-wrap{
			width:49%;
			text-align:center;
			display:inline-block;
			margin-top:-0px;
			padding:0px 40px;
			h3{
				color:#808080;
				margin-bottom:5px;
				text-align:center;
				text-transform:uppercase;
				margin-top:-125px;
				margin-bottom:130px;
			}
			> div{
				min-height:200px;
				background-repeat: no-repeat;
			}
			#col-1{
				background-size:150px auto;
				background-position: center;
			}
			#col-2{
				background-size:135px auto;
				background-position: center;
			}
		    @media #{$bp-tab} {
				width:100%;
				display:block;
				#col-1{
					background-size:150px auto;
					background-position: center;
				}
				#col-2{
					background-size:135px auto;
					background-position: center;
				}
			}
			h3{
				font-style:bold;
font-family: 'Roboto Condensed', sans-serif;
//				@include title-text();
			}
		}
	}
	
	.three-col-content{
		margin:0px;
		padding:0px;
			
		p{
			@include default-font;

			strong{
				@include subtitle-text;
			}
		}

		ul{
			margin:0 0 0 30px;
			padding:0 0 0 20px;
			list-style:disc outside;

			li{
				margin:0px;
				padding:0 0 0 20px;
				font-size:16px;
				color:#000;
				line-height:28px;
				font-style:italic;			
			}
		}
	}
}
