.block-image-popup {
  text-align:center;
  font-size:0;

  h3 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 100%;
  }

  &> div {
    padding: 0 5.875%;
  }

  .slide-wrapper {
    display: inline-block;
    vertical-align: top;
    text-align:left;
	margin-bottom: 40px;
	width:100%;    
    

	@media(min-width:768px){
		width: 50%;
		padding-left: 1.5%;
		padding-right: 1.5%;
    }
	@media(min-width:992px){
		width: 25%;
	}
    &.active, &:hover {
      .slide {    
      	.bg-image{
 	//		.filter(none);
      	}
      }
    }
    
    &.active{
    	.slide{
			.slide-text:after{
				content:'\2796';
			}
		}
    }

    .slide {
font-size:14px;
  	  position:relative;
      cursor: pointer;

      .bg-image {
  		position:relative;
        width: 100%;
        padding-bottom: 110%;
        background-size: cover;
        background-position: top center;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
      }

      .slide-text {
  		position:relative;
        padding: 20px 25px 0 0;
  
    	&:after{
			content:'\2795';
			position: absolute;
			top:20px;
			right:0;
		}


        .title {
          display: block;
          margin-bottom: 0.25em;
          font-weight:bold;
        }
        
        .subtitle{
    		text-transform:uppercase;    
        }

      }
    }
  }

  .slide-content {
	white-space:normal;
    width: 97%;
    margin-left: 1.27%;
    margin-right: 1.27%;
    float: left;
    text-align:left;
    padding: 4% 6%;
    display: none;
    margin-bottom: 40px;


    > *:last-child {
      margin-bottom: 0;
    }
  }

}
