.block-media{
	.bg-image{
		margin:0px;
		padding:0px;
		width:100%;
		height:700px;
		text-align:center;
		background-size:cover;

		.title{
			@include vertical-align($position: relative);

			h1{
				@include title-text(60px);
				color: $c-white;
			}

			.subtitle{
				@include subtitle-text(20px);
				display: block;
				color: $c-white;
				margin-bottom: $bottom-margin / 2;
			}

			a.video-btn{
				@include button(5px 10px, $c-white, $c-white, $c-black);
			}
		}
	}
}